*{
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: snow;
}

form {
    width: 100%;
    padding: 2px 2px;
    margin: 1px 0;
    /*box-sizing: border-box;*/
}

.column {
    width: 33.33%;
    padding: 5px;
}

.row {
    display: flex;
}

.button {
    height: 10px;
    width: 50px;
    margin: 0 35px;
    border-radius: 50px;
    border: none;
    outline: none;
    background: #111;
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
    cursor: pointer;
}

input::placeholder {
    color: gray;
    scale: inherit;
}

.inputs {
    text-align: left;
    padding: 1px;
    margin: 5px;
    scale: inherit;
}
